    """
    ---------------------------------------------------
    ----- TÓPICO: Machine Learning - Transformers -----
    ---------------------------------------------------
    Arquivo de testes para validar as implementações
    presentes no módulo ml do pacote bebop

    Sumário
    -----------------------------------
    1. Pipelines
    -----------------------------------
    """

# Machine Learning - Transformers

O objetivo desse notebook é propor implementações utilizando os componentes de Machine Learning desenvolvidos no módulo `transformers.py`. Em geral, as classes desenvolvidas visam facilitar a construção de _Pipelines_ de pré processamento de dados em projetos atrelados a construção de modelos, sendo responsáveis por proporcionar as principais operações em fluxos do tipo. Entre as classes implementadas, é possível listar:

In [3]:
# Importando bibliotecas
import pandas as pd 
from sklearn.pipeline import Pipeline

In [12]:
# Lendo base de dados
data = pd.read_csv('../titanic_data/titanic.csv')
print(data.shape)
data.head()

(1309, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
os.listdir('../')

['titanic_data', 'ml', 'explorer.ipynb', 'file_system']